<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>MuskOwl</h2>
        <br>
        <p>We are the fastest growing website and mobile application development company based in Hong Kong
         providing end-to-end digital solutions for all your business requirements. 
        </p>
      </div>
      <div class="col-md-6">
          <h2>Get Notified</h2>
          <br>
          <p>SUBSCRIBE TO OUR NEWSLETTER</p>
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Email Address" name="search">
              <div class="input-group-btn">
                <button class="btn" type="submit">SUBSCRIBE</button>
              </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
      <hr>
      <p>&copy; MuskOwl 2017 | All rights Reserved | Privacy Policy</p>
    </div>
  </div>
</div>
