<!-- What we DO -->
<div id="what-we-do">
    <div class="section-1">
        <div class="container">
            <div class="text-center">
                <h2>WHAT WE DO</h2>
                <h4>We've got everything you need to launch and grow your bussiness.</h4>
                <hr>
            </div>

            <div class="row">
                <div class="col-md-6" *ngFor="let record of model; let i = index;">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="service/{{record.id}}">
                                <img src="{{record.image}}" width="150" height="150" class="img-responsive">
                            </a>
                        </div>
                        <div class="col-md-6 service-name">
                            <h3>{{record.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>