<nav class="navbar .navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a><br><br>
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Blog</a>
            <div class="menu-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <a href="#"><img src="assets/iMAGES/logo200X131.png" class="img-responsive text-left" id="logo"></a>
        <span class="menu-button" id="nav-effect" (click)="openNav()"><span style="font-size: 20px; color: #4ecbff;">MENU</span> &#9776;</span>
    </div>
    
</nav>