<nav class="navbar .navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a><br><br>
            <a href="">Home</a>
            <a href="about-us">About</a>
            <a href="our-services">Our Services</a>
            <a href="our-projects">Our Projects</a>
            <a href="#contact-us" (click)="closeNav()">Contact</a>
            <a href="blogs">Blog</a>
            <div class="menu-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <a href="">
            <img src="assets/img/iMAGES/logo200X131.png"  id="logo">
        </a>
        <span class="menu-button" id="nav-effect" (click)="openNav()"><span class="menu-txt">MENU</span> &#9776;</span>
    </div>
</nav>