<div class="pace-overlay"></div>
<!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="verso-content-box verso-content-box-move-behind">

    <!-- Header -->

    <div class="verso-header verso-header-transparent">

        <!-- Top Bar -->
        <div class="verso-topbar verso-topbar-leftright">
            <div class="verso-topbar-inner">
                <div class="verso-topbar-container">
                    <div class="verso-topbar-col">
                        <div class="verso-widget widget_text">
                            <i class="fa fa-phone"></i> &nbsp; 1-800-555-555
                        </div>
                    </div>
                    <div class="verso-topbar-col">
                        <div class="verso-widget widget_social">
                            <div class="verso-icon-set">
                                <a class="verso-icon-set-item verso-transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="verso-icon-set-item verso-transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="verso-icon-set-item verso-transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="verso-icon-set-item verso-transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <div class="verso-nav verso-nav-sticky verso-nav-layout-logo-l-menu-r verso-nav-hover">
            <div class="verso-nav-inner">
                <div class="verso-nav-container">

                    <!-- Logo -->
                    <div class="verso-nav-brand">
                        <a href="index.html">
                            <img src="assets/images/corporate-classic-logo-130x100.png" alt="verso"> VERSO
                        </a>
                    </div>

                    <!-- Mobile menu toggle button -->
                    <div class="verso-nav-mobile">
                        <a id="nav-toggle" href="#">
                            <span></span>
                        </a>
                    </div>

                    <!-- Menu One -->
                    <nav class="verso-nav-menu">
                        <ul class="verso-nav-list">
                            <li>
                                <a href="index.html">HOME</a>
                            </li>
                            <li>
                                <a href="#">ABOUT</a>
                                <ul class="verso-nav-dropdown closed">
                                    <li>
                                        <a href="about.html">ABOUT US</a>
                                    </li>
                                    <li>
                                        <a href="team.html">OUR TEAM</a>
                                    </li>
                                    <li>
                                        <a href="pricing.html">PRICING</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="services.html">SERVICES</a>
                            </li>
                            <li>
                                <a href="#">PROJECTS</a>
                                <ul class="verso-nav-dropdown closed">
                                    <li>
                                        <a href="projects.html">PROJECTS</a>
                                    </li>
                                    <li>
                                        <a href="project.html">SINGLE PROJECT</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">BLOG</a>
                                <ul class="verso-nav-dropdown closed">
                                    <li>
                                        <a href="blog.html">BLOG</a>
                                    </li>
                                    <li>
                                        <a href="post.html">SINGLE POST</a>
                                    </li>
                                    <li>
                                        <a href="author.html">AUTHOR'S PAGE</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">CONTACT</a>
                            </li>
                        </ul>
                        <div class="verso-nav-widget">
                            <div class="verso-widget">
                                <div class="verso-icon-set">
                                    <a class="verso-icon-set-item verso-transition verso-search-widget-button-open" href="#">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>