<div class="verso-content">

  <div class="section verso-demo-bg-color-04">
      <div class="section-background section-bg-hidden-sm-down">
          <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-01"></div>
      </div>
      <div class="section-content">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <h1 class="display-2 text-uppercase verso-text-light verso-font-weight-300 text-lg-right verso-mt-30 verso-mb-20 verso-opacity-8 verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                          <span class="text-muted">Reinventing</span>
                          <span class="d-block">The Corporate</span>
                          <span class="text-muted">Identity</span>
                      </h1>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="SERVICES"></div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-py-10">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">View Our</small> Services
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="row">
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-01-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Marketing</a>
                                      </h4>
                                      <p class="card-text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-02-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Strategy</a>
                                      </h4>
                                      <p class="card-text">Organically grow the holistic world view of disruptive innovation. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-03-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Financial</a>
                                      </h4>
                                      <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-04-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Capital</a>
                                      </h4>
                                      <p class="card-text">Capitalize on low hanging fruit to identify a ballpark value added activity to test. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-05-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Broadcast</a>
                                      </h4>
                                      <p class="card-text">Override the digital divide with additional clickthroughs from DevOps. </p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation text-center verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                  <div class="card-body">
                                      <img src="../../../assets/images/corporate-classic-icon-06-60x60-notinclude.png" alt="service" class="verso-mt-4 verso-mb-4">
                                      <h4 class="card-title text-uppercase verso-mb-2">
                                          <a href="service.html">Management</a>
                                      </h4>
                                      <p class="card-text">User generated content in real-time will have multiple touchpoints for offshoring. </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="TESTIMONIALS">
          <div class="section-bg-image section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-10"></div>
      </div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-pt-10 verso-text-light">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">Clients</small> Testimonials
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="card card-hero verso-demo-bg-gradient-02 verso-shadow-15 verso-shadow-hover-20 verso-os-animation text-center verso-mb--10" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                          <div class="card-body">
                              <div id="carousel-example-1" class="carousel slide verso-mb-0 carousel-indicators-circle " data-ride="carousel">
                                  <ol class="carousel-indicators verso-mb--1 verso-mb-lg--3">
                                      <li data-target="#carousel-example-1" data-slide-to="0" class="active verso-transition"></li>
                                      <li class="verso-transition" data-target="#carousel-example-1" data-slide-to="1"></li>
                                      <li class="verso-transition" data-target="#carousel-example-1" data-slide-to="2"></li>
                                  </ol>
                                  <div class="carousel-inner" role="listbox">
                                      <div class="carousel-item active">
                                          <blockquote class="card-blockquote blockquote verso-pl-4">
                                              <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. </p>
                                              <footer class="blockquote-footer text-uppercase verso-mt-3">Jason Smith
                                                  <cite title="Source Title">CEO</cite>
                                              </footer>
                                          </blockquote>
                                      </div>
                                      <div class="carousel-item">
                                          <blockquote class="card-blockquote blockquote verso-pl-4">
                                              <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from designers and DevOps. </p>
                                              <footer class="blockquote-footer text-uppercase verso-mt-3">Jim Mack
                                                  <cite title="Source Title">CTO</cite>
                                              </footer>
                                          </blockquote>
                                      </div>
                                      <div class="carousel-item">
                                          <blockquote class="card-blockquote blockquote verso-pl-4">
                                              <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance as major indicators offline to maximise the long tail.</p>
                                              <footer class="blockquote-footer text-uppercase verso-mt-3">Jenna Tops
                                                  <cite title="Source Title">Vice President</cite>
                                              </footer>
                                          </blockquote>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="PORTFOLIO"></div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-py-10 verso-mt-10">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">View Our</small> Portfolio
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="row">
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-01-600x600-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                      <h5 class="card-title verso-transition">
                                          <a href="project.html">Headquarters</a>
                                      </h5>
                                      <p class="card-subtitle verso-transition">Lovely View</p>
                                  </div>
                              </div>
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-02-600x800-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                      <h5 class="card-title verso-transition">
                                          <a href="project.html">Main Offices</a>
                                      </h5>
                                      <p class="card-subtitle verso-transition">Amazing Architecture</p>
                                  </div>
                              </div>
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-03-600x400-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                      <h5 class="card-title verso-transition">
                                          <a href="project.html">Our Company</a>
                                      </h5>
                                      <p class="card-subtitle verso-transition">We are the best!</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6 col-lg-4 col-sm-6">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-04-600x1200-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                      <h5 class="card-title verso-transition">
                                          <a href="project.html">Department</a>
                                      </h5>
                                      <p class="card-subtitle verso-transition">Creating the Future</p>
                                  </div>
                              </div>
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-05-600x670-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                      <h5 class="card-title verso-transition">
                                          <a href="project.html">Major Client</a>
                                      </h5>
                                      <p class="card-subtitle verso-transition">Secret Project</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-lg-4">
                              <div class="row">
                                  <div class="col-6 col-lg-12">
                                      <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                          <div class="card-img-container">
                                              <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-06-600x400-notinclude.jpg" alt="Card image">
                                          </div>
                                          <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                              <h5 class="card-title verso-transition">
                                                  <a href="project.html">Featured Project</a>
                                              </h5>
                                              <p class="card-subtitle verso-transition">A great Success</p>
                                          </div>
                                      </div>
                                      <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".7s">
                                          <div class="card-img-container">
                                              <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-07-600x800-notinclude.jpg" alt="Card image">
                                          </div>
                                          <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                              <h5 class="card-title verso-transition">
                                                  <a href="project.html">Amazing Work</a>
                                              </h5>
                                              <p class="card-subtitle verso-transition">Wonderful client</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-6 col-lg-12">
                                      <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".8s">
                                          <div class="card-img-container">
                                              <img class="card-img" src="../../../assets/images/corporate-classic-portfolio-08-600x600-notinclude.jpg" alt="Card image">
                                          </div>
                                          <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover verso-transition">
                                              <h5 class="card-title verso-transition">
                                                  <a href="project.html">Big Success</a>
                                              </h5>
                                              <p class="card-subtitle verso-transition">Great Start-up</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="CLIENTS">
          <div class="section-bg-image section-bg-image-position-top section-bg-image-paralax verso-demo-bg-image-10"></div>
      </div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-pt-10 verso-text-light">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">Our</small> Clients
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="card verso-demo-bg-gradient-02 verso-shadow-15 verso-shadow-hover-20 verso-os-animation text-center verso-mb--10" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-01-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Triangular</span>
                                  </div>
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-02-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Ena</span>
                                  </div>
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-03-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Angle</span>
                                  </div>
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-04-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Verso Theme</span>
                                  </div>
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-05-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Lambda</span>
                                  </div>
                                  <div class="col-6 col-md-2 col-sm-4">
                                      <img src="../../../assets/images/corporate-classic-client-06-150x150-notinclude.png" alt="Client">
                                      <span class="verso-mt-3 d-block verso-mb-2">Smartbox</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="NEWS"></div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-py-10 verso-mt-10 verso-mb-10">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">Latest</small> News
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="row">
                          <div class="col-lg-5 col-md-6 col-12">
                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-article-01-400x500-notinclude.jpg" alt="Card image">
                                  </div>
                                  <div class="card-body">
                                      <h4 class="card-title text-uppercase verso-mb-1">
                                          <a href="post.html">Corporate Enviroment</a>
                                      </h4>
                                      <p class="card-subtitle font-italic text-muted verso-mb-1">By
                                          <a href="author.html">Christos</a> on May 1977</p>
                                      <p class="card-text">Efficiently unleash cross-media information without cross-media value. </p>
                                  </div>
                              </div>

                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-body">
                                      <h4 class="card-title text-uppercase verso-mb-1">
                                          <a href="post.html">Better Sales</a>
                                      </h4>
                                      <p class="card-subtitle font-italic text-muted verso-mb-1">By
                                          <a href="author.html">Christos</a> on May 1977</p>
                                      <p class="card-text">Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-7 col-md-6 col-12">

                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                  <div class="card-body">
                                      <h4 class="card-title text-uppercase verso-mb-1">
                                          <a href="post.html">Stronger Leads &amp; new visitors</a>
                                      </h4>
                                      <p class="card-subtitle font-italic text-muted verso-mb-1">By
                                          <a href="author.html">Christos</a> on May 1977</p>
                                      <p class="card-text">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
                                      <p class="card-text">Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
                                      <p class="card-text">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.</p>
                                  </div>
                              </div>

                              <div class="card verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation card-inverse verso-demo-bg-gradient-01" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                  <div class="card-body">
                                      <blockquote class="card-blockquote blockquote verso-pl-4">
                                          <p>Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
                                          <footer class="blockquote-footer text-uppercase verso-mt-3">Steve Bojs
                                              <cite title="Source Title">The Buss Book</cite>
                                          </footer>
                                      </blockquote>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="HIRING">
          <div class="section-bg-image section-bg-image-position-top section-bg-image-size-cover section-bg-image-size-md-auto verso-demo-bg-image-10"></div>
      </div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-pt-10 verso-text-light">
                  <div class="text-center text-md-left col-8 offset-2 col-md-4 offset-md-0 col-lg-6">
                      <h3 class="text-uppercase verso-os-animation verso-mb-3" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          We are Hiring
                      </h3>
                      <p class="verso-os-animation verso-mb-3" data-os-animation="fadeInLeft" data-os-animation-delay=".4s">Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                      <a href="#" class="btn btn-secondary verso-os-animation verso-mb-3 verso-shadow-10 verso-shadow-hover-15" data-os-animation="fadeInLeft" data-os-animation-delay=".5s">Learn More</a>
                  </div>
                  <div class="col-lg-6 col-sm-6 ml-auto mr-auto">
                      <img class="card-img d-block  verso-mt-lg--20 verso-os-animation" src="../../../assets/images/corporate-classic-mockup-01-500x500-notinclude.png" data-os-animation="fadeInUp" data-os-animation-delay=".6s" alt="device">
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="section">
      <div class="section-background" data-section-bg-title="TEAM"></div>
      <div class="section-content">
          <div class="container">
              <div class="row verso-py-10">
                  <div class="col-lg-3">
                      <h2 class="verso-heading-image verso-heading-image-01 verso-heading-image-reversed text-uppercase text-left text-lg-right verso-os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                          <small class="d-block text-muted">Our</small> Team
                      </h2>
                  </div>
                  <div class="col-lg-9">
                      <div class="card card-horizontal verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation verso-mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                          <div class="row">
                              <div class="col-lg-4 col-sm-6">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-team-01-600x600-notinclude.jpg" alt="Card image">
                                  </div>
                              </div>
                              <div class="col-lg-8 col-sm-6">
                                  <div class="card-body">
                                      <h2 class="h4 card-title m-b-1 text-uppercase">Aaron Triangul</h2>
                                      <h6 class="card-subtitle text-muted verso-mb-3 text-uppercase">CEO/DESIGNER</h6>
                                      <p class="card-text">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks processes.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card card-horizontal verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation verso-mb-3" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                          <div class="row">
                              <div class="col-lg-4 col-sm-6">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-team-02-600x600-notinclude.jpg" alt="Card image">
                                  </div>
                              </div>
                              <div class="col-lg-8 col-sm-6">
                                  <div class="card-body">
                                      <h2 class="h4 card-title m-b-1 text-uppercase">Jason Angle</h2>
                                      <h6 class="card-subtitle text-muted verso-mb-3 text-uppercase">CEO/DESIGNER</h6>
                                      <p class="card-text">Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core competencies before process-centric communities. Dramatically evisculate holistic innovation rather than client-centric data.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="card card-horizontal verso-shadow-15 verso-shadow-hover-20 verso-transition verso-mb-3 verso-os-animation verso-os-animation verso-mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                          <div class="row">
                              <div class="col-lg-4 col-sm-6">
                                  <div class="card-img-container">
                                      <img class="card-img" src="../../../assets/images/corporate-classic-team-03-600x600-notinclude.jpg" alt="Card image">
                                  </div>
                              </div>
                              <div class="col-lg-8 col-sm-6">
                                  <div class="card-body">
                                      <h2 class="h4 card-title m-b-1 text-uppercase">Alice Verso</h2>
                                      <h6 class="card-subtitle text-muted verso-mb-3 text-uppercase">CEO/DESIGNER</h6>
                                      <p class="card-text">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>