<!-- Footer -->

<footer class="verso-footer">
  <div class="section verso-py-9">
      <div class="section-content">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="verso-widget widget_text">
                          <h4 class="h5 verso-widget-header text-uppercase">About Us</h4>
                          <p>Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks. </p>
                          <p>Distinctively exploit optimal alignments for intuitive bandwidth. </p>
                      </div>

                  </div>
                  <div class="col-md-3">
                      <div class="verso-widget widget_categories">
                          <h4 class="h5 verso-widget-header text-uppercase">Categories</h4>
                          <ul>
                              <li>
                                  <a href="blog.html">
                                      Human Resources (3)
                                  </a>
                              </li>
                              <li>
                                  <a href="blog.html">
                                      Web Development (2)
                                  </a>
                              </li>
                              <li>
                                  <a href="blog.html">
                                      Corporate Funding (1)
                                  </a>
                              </li>
                              <li>
                                  <a href="blog.html">
                                      Marketing &amp; Media (3)
                                  </a>
                              </li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-md-3">
                      <div class="verso-widget widget_recent_entries">
                          <h4 class="h5 verso-widget-header text-uppercase">Recent Posts</h4>

                          <ul>
                              <li class="text-truncate">
                                  <a href="post.html" class="float-left verso-mr-1 verso-widget-image" title="Post title">
                                      <img alt="post image" src="assets/images/corporate-classic-article-11-100x100-notinclude.jpg">
                                  </a>
                                  <a href="post.html">Corporate Enviroment</a>
                                  <small class="post-date d-block">September 25, 2017</small>
                              </li>

                              <li class="text-truncate">
                                  <a href="post.html" class="float-left verso-mr-1 verso-widget-image" title="Post title">
                                      <img alt="post image" src="assets/images/corporate-classic-article-12-100x100-notinclude.jpg">
                                  </a>
                                  <a href="post.html"> Better Sales</a>
                                  <small class="post-date d-block">June 12, 2017</small>
                              </li>
                              <li class="text-truncate">
                                  <a href="post.html" class="float-left verso-mr-1 verso-widget-image" title="Post title">
                                      <img alt="post image" src="assets/images/corporate-classic-article-13-100x100-notinclude.jpg">
                                  </a>
                                  <a href="post.html">Stronger Leads & new visitors</a>
                                  <small class="post-date d-block">May 05, 2017</small>
                              </li>
                          </ul>
                      </div>

                  </div>
                  <div class="col-md-3">
                      <div class="verso-widget widget_tag_cloud">
                          <h4 class="h5 verso-widget-header text-uppercase">Tags</h4>
                          <ul>
                              <li>
                                  <a href="blog.html">company</a>
                              </li>

                              <li>
                                  <a href="blog.html">leads</a>
                              </li>

                              <li>
                                  <a href="blog.html">marketshare</a>
                              </li>

                              <li>
                                  <a href="blog.html">events</a>
                              </li>

                              <li>
                                  <a href="blog.html">resources</a>
                              </li>
                              <li>
                                  <a href="blog.html">capital</a>
                              </li>
                              <li>
                                  <a href="blog.html">enviroment</a>
                              </li>

                              <li>
                                  <a href="blog.html">offices</a>
                              </li>

                              <li>
                                  <a href="blog.html">offshore</a>
                              </li>

                              <li>
                                  <a href="blog.html">accounting</a>
                              </li>
                          </ul>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section verso-py-1">
      <div class="section-content">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 text-sm-left">
                      <div class="verso-widget widget_text">
                          <p>
                              Verso Template. © Oxygenna 2017
                          </p>
                      </div>

                  </div>
                  <div class="col-sm-6 text-sm-right">
                      <div class="verso-widget widget_social">
                          <div class="verso-icon-set">
                              <a class="verso-icon-set-item verso-transition" href="#">
                                  <i class="fa fa-instagram"></i>
                              </a>
                              <a class="verso-icon-set-item verso-transition" href="#">
                                  <i class="fa fa-linkedin"></i>
                              </a>
                              <a class="verso-icon-set-item verso-transition" href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                              <a class="verso-icon-set-item verso-transition" href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>


</footer>

<a href="#" class="verso-go-top verso-shadow-10 verso-shadow-hover-15 d-none d-sm-block hide">
  <i class="fa fa-angle-up"></i>
</a>





