<!-- OUR CLIENT -->
<div class="section-4">
    <div class="container">
        <div class="text-center">
            <h2>OUR CLIENTS</h2>
            <h4>When we take on a project, we see more than a marketing, branding, or technology. Have a
                <br> look at some of our recent projects to see how wehave helped business like yours
                <br> achieve their marketing objectives</h4>
            <br><br><br>
        </div>

        <div class="swiper-container" [swiper]="config">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="assets/img/clients/ACTION_UDAIPUR.jpg" class="img-responsive">
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/clients/DANTAL.jpg" class="img-responsive">
                </div>

                <div class="swiper-slide">
                    <img src="assets/img/clients/GERMAN_PLAST.jpg" class="img-responsive">
                </div>

                <div class="swiper-slide">
                    <img src="assets/img/clients/Logo.jpg" class="img-responsive">
                </div>

                <div class="swiper-slide">
                    <img src="assets/img/clients/SARAL_STONE.jpg" class="img-responsive">
                </div>

                <div class="swiper-slide">
                    <img src="assets/img/clients/STROKE.jpg" class="img-responsive">
                </div>

                <div class="swiper-slide">
                    <img src="assets/img/clients/SUAVE.jpg" class="img-responsive">
                </div>
            </div>

            <div class="swiper-pagination"></div>

            <!-- <div class="swiper-pager">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div> -->

        </div>
    </div>
</div>