.services-section {
    /* The image used */
    background-image: url("../../../../assets/img/banner/Services.jpg");
    /* Set a specific height */
    min-height: 550px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 1000px) {
    .services-section {
        background-attachment: scroll;
    }
}